@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
html {
  font-family: 'Hanna', serif !important;
  background-color: #f1f1f1; }

body {
  margin-top: 20px; }

.btn {
  border: none;
  border-radius: 3px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: green;
  color: white;
  outline: 0;
  font-family: inherit;
  font-size: inherit; }
  .btn.large {
    height: 54px;
    line-height: 54px; }

.waves-effect {
  overflow: hidden;
  position: relative; }

.wave {
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -o-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  .wave.wave-effect-white {
    background: rgba(255,255,255, 0.3);
    background: -webkit-radial-gradient(rgba(255,255,255, 0.3) 0, rgba(255,255,255, 0.35) 40%, rgba(255,255,255, 0.40) 50%, rgba(255,255,255, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -o-radial-gradient(rgba(255,255,255, 0.3) 0, rgba(255,255,255, 0.35) 40%, rgba(255,255,255, 0.40) 50%, rgba(255,255,255, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -ms-radial-gradient(rgba(255,255,255, 0.3) 0, rgba(255,255,255, 0.35) 40%, rgba(255,255,255, 0.40) 50%, rgba(255,255,255, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -moz-radial-gradient(rgba(255,255,255, 0.3) 0, rgba(255,255,255, 0.35) 40%, rgba(255,255,255, 0.40) 50%, rgba(255,255,255, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(rgba(255,255,255, 0.3) 0, rgba(255,255,255, 0.35) 40%, rgba(255,255,255, 0.40) 50%, rgba(255,255,255, 0.5) 60%, rgba(0, 0, 0, 0) 70%); }
  .wave.wave-effect-black {
    background: rgba(0,0,0, 0.3);
    background: -webkit-radial-gradient(rgba(0,0,0, 0.3) 0, rgba(0,0,0, 0.35) 40%, rgba(0,0,0, 0.40) 50%, rgba(0,0,0, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -o-radial-gradient(rgba(0,0,0, 0.3) 0, rgba(0,0,0, 0.35) 40%, rgba(0,0,0, 0.40) 50%, rgba(0,0,0, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -ms-radial-gradient(rgba(0,0,0, 0.3) 0, rgba(0,0,0, 0.35) 40%, rgba(0,0,0, 0.40) 50%, rgba(0,0,0, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -moz-radial-gradient(rgba(0,0,0, 0.3) 0, rgba(0,0,0, 0.35) 40%, rgba(0,0,0, 0.40) 50%, rgba(0,0,0, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(rgba(0,0,0, 0.3) 0, rgba(0,0,0, 0.35) 40%, rgba(0,0,0, 0.40) 50%, rgba(0,0,0, 0.5) 60%, rgba(0, 0, 0, 0) 70%); }
  .wave.wave-effect-green {
    background: rgba(76, 175, 80, 0.3);
    background: -webkit-radial-gradient(rgba(76, 175, 80, 0.3) 0, rgba(76, 175, 80, 0.35) 40%, rgba(76, 175, 80, 0.40) 50%, rgba(76, 175, 80, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -o-radial-gradient(rgba(76, 175, 80, 0.3) 0, rgba(76, 175, 80, 0.35) 40%, rgba(76, 175, 80, 0.40) 50%, rgba(76, 175, 80, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -ms-radial-gradient(rgba(76, 175, 80, 0.3) 0, rgba(76, 175, 80, 0.35) 40%, rgba(76, 175, 80, 0.40) 50%, rgba(76, 175, 80, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -moz-radial-gradient(rgba(76, 175, 80, 0.3) 0, rgba(76, 175, 80, 0.35) 40%, rgba(76, 175, 80, 0.40) 50%, rgba(76, 175, 80, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(rgba(76, 175, 80, 0.3) 0, rgba(76, 175, 80, 0.35) 40%, rgba(76, 175, 80, 0.40) 50%, rgba(76, 175, 80, 0.5) 60%, rgba(0, 0, 0, 0) 70%); }
  .wave.wave-effect-yellow {
    background: rgba(255, 235, 59, 0.3);
    background: -webkit-radial-gradient(rgba(255, 235, 59, 0.3) 0, rgba(255, 235, 59, 0.35) 40%, rgba(255, 235, 59, 0.40) 50%, rgba(255, 235, 59, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -o-radial-gradient(rgba(255, 235, 59, 0.3) 0, rgba(255, 235, 59, 0.35) 40%, rgba(255, 235, 59, 0.40) 50%, rgba(255, 235, 59, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -ms-radial-gradient(rgba(255, 235, 59, 0.3) 0, rgba(255, 235, 59, 0.35) 40%, rgba(255, 235, 59, 0.40) 50%, rgba(255, 235, 59, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 235, 59, 0.3) 0, rgba(255, 235, 59, 0.35) 40%, rgba(255, 235, 59, 0.40) 50%, rgba(255, 235, 59, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(rgba(255, 235, 59, 0.3) 0, rgba(255, 235, 59, 0.35) 40%, rgba(255, 235, 59, 0.40) 50%, rgba(255, 235, 59, 0.5) 60%, rgba(0, 0, 0, 0) 70%); }
  .wave.wave-effect-column-white {
    background: rgba(255,255,255, 0.3); }
  .wave.wave-effect-column-black {
    background: rgba(0,0,0, 0.3); }
  .wave.wave-effect-column-green {
    background: rgba(76, 175, 80, 0.3); }
  .wave.wave-effect-column-yellow {
    background: rgba(255, 235, 59, 0.3); }

.animate {
  -webkit-animation: ripple 0.5s linear;
  -moz-animation: ripple 0.5s linear;
  -ms-animation: ripple 0.5s linear;
  -o-animation: ripple 0.5s linear;
  animation: ripple 0.5s linear; }

@-webkit-keyframes ripple {100% {opacity: 0; transform: scale(2.5);}}
  @-moz-keyframes ripple {100% {opacity: 0; transform: scale(2.5);}}
  @-o-keyframes ripple {100% {opacity: 0; transform: scale(2.5);}}
  @-ms-keyframes ripple {100% {opacity: 0; transform: scale(2.5);}}
  @keyframes ripple {100% {opacity: 0; transform: scale(2.5);}};
