@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);


html{
  font-family: 'Hanna', serif !important;
  background-color: #f1f1f1;
}
body {
  margin-top: 20px;
}
.btn{
  border: none;
  border-radius: $button-radius;
  display: inline-block;
  height: $button-height-default;
  line-height: $button-height-default;
  padding: 0 2rem;
  box-shadow: $button-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  @include transition(all 0.2s ease-out);
  background-color : green;
  color : white;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  &.large{
    height: $button-height-large;
    line-height: $button-height-large;
  }
}


.waves-effect {
    overflow: hidden;
    position: relative;
}

.wave {
  display: block;
  position: absolute;
  border-radius: 50%;
  @include transition(all 0.2s ease-out);
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property: -moz-transform, opacity;
   -ms-transition-property: -o-transform, opacity;
   -o-transition-property: -o-transform, opacity;
   transition-property: transform, opacity;
  @include transform(0);

  &.wave-effect-white{
    @include wavebackground(waves-color-column-setting($button-color-white),waves-color-setting($button-color-white));
  }
  &.wave-effect-black{
    @include wavebackground(waves-color-column-setting($button-color-black),waves-color-setting($button-color-black));
  }
  &.wave-effect-green{
    @include wavebackground(waves-color-column-setting($button-color-green),waves-color-setting($button-color-green));
  }
  &.wave-effect-yellow{
    @include wavebackground(waves-color-column-setting($button-color-yellow),waves-color-setting($button-color-yellow));
  }
  &.wave-effect-column-white{
    background: #{waves-color-column-setting($button-color-white)};
  }
  &.wave-effect-column-black{
    background: #{waves-color-column-setting($button-color-black)};
  }
  &.wave-effect-column-green{
    background: #{waves-color-column-setting($button-color-green)};
  }
  &.wave-effect-column-yellow{
    background: #{waves-color-column-setting($button-color-yellow)};
  }
}
.animate {
  @include animate("ripple 0.5s linear");
}

@include keyframesubfix("ripple","{100% {opacity: 0; transform: scale(2.5);}}");
