@import "./card.scss";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
html{
  font-family: 'Hanna', serif !important;
}
$button-radius : 3px;
$button-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$button-height-default : 36px;
$button-height-large : 54px;
$button-wavacolor : "255, 255, 255";
//button mixin
@mixin wavebackground ($default, $color) {
  background: $default;
  background: -webkit-radial-gradient(#{$color});
  background: -o-radial-gradient(#{$color});
  background: -ms-radial-gradient(#{$color});
  background: -moz-radial-gradient(#{$color});
  background: radial-gradient(#{$color});
}
@mixin animate ($value){
  -webkit-animation:#{$value};
   -moz-animation:#{$value};
    -ms-animation:#{$value};
     -o-animation:#{$value};
        animation:#{$value};
}
@mixin keyframesubfix($title , $value) {
  @-webkit-keyframes #{$title} #{$value}
  @-moz-keyframes #{$title} #{$value}
  @-o-keyframes #{$title} #{$value}
  @-ms-keyframes #{$title} #{$value}
  @keyframes #{$title} #{$value}
};
@mixin transform($value) {
  -webkit-transform:scale($value);
     -moz-transform:scale($value);
       -o-transform:scale($value);
      -ms-transform:scale($value);
          transform:scale($value);
}

.btn{
  border: none;
  border-radius: $button-radius;
  display: inline-block;
  position: relative;
  overflow:hidden;
  height: $button-height-default;
  line-height: $button-height-default;
  padding: 0 2rem;
  box-shadow: $button-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  @include transition(all 0.2s ease-out);
  background-color : green;
  color : white;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  &.large{
    height: $button-height-large;
    line-height: $button-height-large;
  }
}




.wave {
  display: block;
  position: absolute;
  border-radius: 50%;
  @include wavebackground(rgba(255, 255, 255,.5),"rgba("+$button-wavacolor+", 0.2) 0, rgba("+$button-wavacolor+", 0.3) 40%, rgba("+$button-wavacolor+", 0.4) 50%, rgba("+$button-wavacolor+", 0.5) 60%, rgba(0, 0, 0, 0) 70%");
  @include transition(all 0.3s ease-out);
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property: -moz-transform, opacity;
   -ms-transition-property: -o-transform, opacity;
   -o-transition-property: -o-transform, opacity;
   transition-property: transform, opacity;
  @include transform(0);
}

.animate {
  @include animate("ripple 0.5s linear");
}

@include keyframesubfix("ripple","{100% {opacity: 0; transform: scale(2.5);}}");
