@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";
header{
  margin-bottom: 20px;
}
  .tw-navbar{
      height: $nav-height;
      line-height: $nav-height;
      border-radius: $nav-radius;
      top : 0px;
      width: 100%;
      box-shadow: $nav-shadow;
      will-change : opacity;
      @include transition(all .2s ease-in);
      background: white;
      z-index: 100;
      & .left{
        float: left;
      }
      & .right{
        float: right;
      }
      & .center{
          display: inline-block;
          padding: 0;
          position: absolute;
          left : 50%;
          @include transform(translateX(-50%));
      }


      & .logoTitle{
        font-size: 2rem;
        color:black;
        // transform: translate(-50%, -50%);
      }
  }
